services:
  aave-health-alert:
    build: .
    container_name: aave-health-alert
    restart: always
    env_file:
      - .env
    logging:
      driver: json-file
      options:
        max-size: '10m'
        max-file: '5'
        compress: 'true'
